<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Employee's Information</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 align="center">Read Employee Information</h3>
        <form method="GET" action="/read">
            <div class="form-group">
                <label for="employeeId">Employee's ID</label>
                <input type="text" class="form-control" id="employeeId" name="employeeId" placeholder="Enter Employee ID" required />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        {% if employee %}
        <div class="mt-4">
            <h4>Employee Information</h4>
            <p><strong>User ID:</strong> {{ employee.user_id }}</p>
            <p><strong>First Name:</strong> {{ employee.first_name }}</p>
            <p><strong>Surname:</strong> {{ employee.surname }}</p>
            <p><strong>Job Type:</strong> {{ employee.job_type }}</p>
            <p><strong>Salary:</strong> {{ employee.salary }}</p>
            <p><strong>Date of Birth:</strong> {{ employee.dob }}</p>
            <p><strong>Address:</strong> {{ employee.address1 }}, {{ employee.address2 }}</p>
            <p><strong>Postcode:</strong> {{ employee.postcode }}</p>
            <p><strong>County:</strong> {{ employee.county }}</p>
            <p><strong>Country:</strong> {{ employee.country }}</p>
        </div>
        {% elif searched %}
        <div class="mt-4 alert alert-danger" role="alert">
            Employee not found. Please check the Employee ID.
        </div>
        {% endif %}
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkVYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
</body>
</html>
